body{
  align-content: center;
}
.card {
	  flex: 1;
      width: 400px;
      height: 500px;
      background-color: lightgray;
      border-radius: 5px;
      padding: 10px;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px;
}
.card-container{
	display: flex;
	justify-content: space-between;
}
.card img{
	width: 380px;
	height: 200px;
}
.special-card {
	  flex: 1;
      width: 600px;
      height: 100px;
      background-color: lightgray;
      border-radius: 5px;
      padding: 10px;
      overflow: hidden;
      position: relative;
      margin-bottom: 20px;
}